<h1>Top videos</h1>
<%- model_class = Video -%>
<div class="page-header">
</div>
<table class="table table-striped">
  <thead>
  </thead>
  <tbody>

    <% @videos.each do |video| %>
      <tr>
        <td>
          <% temp_video =0 %>
           <% video.get_top_videos.videos.each do  |clip| %> 
               <tr>
                  <% temp_video = temp_video.next %>
                  <% video.save_videos(clip, temp_video) %>
               </tr>
           <% end %>
        </td>
      </tr>

      <br/>
      <tr>
        <td>
          <% temp_playlist =0 %>
           <% video.get_top_playlists.each do  |list| %> 
               <tr>
                  <% temp_playlist = temp_playlist.next %>
                  

                  <% video.save_playlists(list, temp_playlist) %>

                  <br/>
                  
               </tr>
           <% end %>
        </td>
      </tr>


      <%break%>
    <% end %>
  </tbody>
</table>




<table id="videos" class="display" data-source="<%= videos_url(format: "json") %>">
  <thead>
    <tr>
      <th>This week rank</th>
      <th>Last week rank</th>
      <th>Video name</th>
      <th>Total aggregate view</th>
      <th>This week view</th>
      <th>Time since upload</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>


<h1>Top playlists</h1>
<table id="playlists" class="display" data-source="<%= playlists_url(format: "json") %>">
  <thead>
    <tr>
      <th>This week rank</th>
      <th>Last week rank</th>
      <th>Playlist name</th>
      <th>Total aggregate view</th>
      <th>This week views</th>
      <th>Video in series</th>
      <th>Comments</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

