<table id="playlists" class="display" data-source="<%= playlists_url(format: "json") %>">
  <thead>
    <tr>
      <th>This week rank</th>
      <th>Last week rank</th>
      <th>Video name</th>
      <th>Total aggregate view</th>
      <th>This week view</th>
      <th>Time since upload</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
